/* You can add global styles to this file, and also import other style files */
// @use "assets/styles/variables"; // removed due to not being versioned yet
@import "bootstrap/scss/bootstrap";

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.text-xs {
    font-size: 0.35em;
}
